.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1150px;
}

header div {
	display: inline-block;
}

.header-list {
	list-style: none;

}

.header-list li {
	display: inline-block;
	padding-left: 8px;
}

.header-list li:not(:first-child) {
	border-left: 1.5px solid #000;
	
}

.header-list li a {
	text-decoration: none;
}

.carousel ul {
	box-sizing: border-box;
	width: 100%;
	height: 500px;
	overflow: hidden;
	margin: 0;
}
.carousel li {
	list-style: none;
	display: inline-block;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.carousel li img {
	width: 100%;

}

.middle li {
	list-style: none;
	float: left;
}

main::after {
	content: ".";
	clear: both;
	display: block;
	visibility: hidden;
}

.middle-left {
	width: 43.7%;
	float: left;
}

.middle-right {
	width: 55.6%;
	float: right;
}

.middle img {
	width: 100%;
}

.middle-right .middle-down {
	margin-top: 3px;
}

.middle-down div:first-child {
	width: 49.5%;
	float: left;

}
.middle-down div:nth-child(2) {
	width: 49.5%;
	float: right;
}
footer {
	
}

ul {
	-webkit-padding-start: 0;
}
